[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = https://github.com/danielfrg/pelican-ipynb
[submodule "plugins/pelican-bootstrapify"]
	path = plugins/pelican-bootstrapify
	url = https://github.com/ingwinlu/pelican-bootstrapify
[submodule "plugins/pelican_javascript"]
	path = plugins/pelican_javascript
	url = https://github.com/mortada/pelican_javascript